module.exports = {
  type: 'postgres',
  host: process.env.DB_HOST,
  port: +process.env.DB_PORT,
  username: process.env.DB_USERNAME,
  password: process.env.DB_PASSWORD,
  database: process.env.DB_NAME,
  migrationsTableName: "custom_migration_table",
  migrations: [__dirname + process.env.MIGRATIONS],
  entities: [__dirname + process.env.ENTITIES],
  synchronize: true,
  logging: false,
  cli: {
    migrationsDir: './src/database/migrations',
    entitiesDir: './src/models',
  },
};
